body
{
    margin:0px;
}
a {
    color:black;
    text-decoration: none;
    margin-left: 1%;
}

#antiNav
{
    margin-left: 0%;
    transition: .5s ease
    
}

.logo
{
    background-color: #c20a0a;
    background-clip: content-box;
    z-index: 2;
    display: block;
    position:relative;
}
.logo img
{
    margin-left:7.5%;
    border-left-color:red;
    box-shadow: none;
    display: block;
    position:relative;
    width: 33em;
    z-index: 2;
}
{
    background-color: #c20a0a;
    background-clip: content-box;
}
.navigation
{
    border: none;
    background-color: #aa0909;
    height: 100%;
    overflow-x:hidden;
    position:fixed;
    transition:.5s;
    width:0%;
    z-index: 0;
    opacity: .99;
    
}
.navigation:hover
{
    height: 100%;
    overflow-x:hidden;
    position:fixed;
    transition:.5s;
    width:0%;

}
.navigation a
{

    color:white;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    transition 0.3s;
    white-space: nowrap;
    margin-top: 5%;
    position:relative;
    
}

.navigation a:hover
{

    background-color:ghostwhite;
    color: black;
    transition: 0.3s;
    
    
}
.root
{
    background-color:whitesmoke;
    color:black;
    font-family: sans-serif;
    margin-bottom: 100px;
    margin-top: 0px;
    text-decoration: none;
}
.root a
{
    font-size:2rem;
}
.root h
{
    font-size:3rem;
}
.stickyHeader
{
    background-color: red;
    font-size: 300%;
    background-color: whitesmoke;
    display: block;
    line-height: 20%;
    margin-left 0px;
    padding: 0%;
    position: sticky;
    position:webkit-sticky;
    top:5%;
    background-clip: border-box;
    z-index: 3;
}

.stickyHeader a
{
    background-color: red;
    font-size: 100%;
    background-clip: border-box;
    line-height: 1π500%;
    display: inline;
    clear:both;
    line-height: 20%;
    margin-left 0px;
    padding: 0%;

}
.stickyHeader span
{
    font-size: 100%;
    display: inline;
    line-height: 20%;
    margin-left 0px;
    padding: 0%;
}
#topNavLink
{
    margin-top: 75%;
}

#openNav
{
    margin-right 0px;
    font-size: 150%;
    background-clip: content-box;
    background-color: whitesmoke;
    line-height: 20%;
    margin-left: 0px;
    padding: 0%;
    position: sticky;
    position:webkit-sticky;
    top:-2%; 
}
