

}

a {
    color:black;
    text-decoration: none;
}

.navigation
{
    height: 100%;
    overflow-x:hidden;
    position:fixed;
    transition:.5s;
    width:0px;
    z-index: :1;
}
.navigation a
{
    color:black;
    text-decoration: none;
    font-size: 2rem;
    background-color:ghostwhite;
    display: block;
    
}
.root
{
    background-color:whitesmoke;
    font-family: sans-serif;
    color:black;
    margin-bottom: 100px;
    margin-top: 100px;
}
