body
{
    margin:0px;
}
a {
    color:black;
    text-decoration: none;
    margin-left: 1%;
}

#antiNav
{
    margin-left: 0%;
    transition: .5s ease
    
}

.logo
{
    background-color: #c20a0a;
    background-clip: content-box;
    z-index: 2;
    display: block;
    position:relative;
}
.logo img
{
    margin-left:7.5%;
    border-left-color:red;
    box-shadow: none;
    display: block;
    position:relative;
    width: 33em;
    z-index: 2;
}
{
    background-color: #c20a0a;
    background-clip: content-box;
}
.navigation
{
    border: none;
    background-color: #aa0909;
    height: 100%;
    overflow-x:hidden;
    position:fixed;
    transition:.5s;
    width:0%;
    z-index: 0;
    opacity: .99;
    
}
.navigation:hover
{
    height: 100%;
    overflow-x:hidden;
    position:fixed;
    transition:.5s;
    width:0%;

}
.navigation a
{

    color: white;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    transition 0.3s;
    white-space: nowrap;
    margin-top: 5%;
    position:relative;
    margin-left:0px;
    padding: 2%;
    
}

.navigation a:hover
{

    background-color:ghostwhite;
    color: #aa0909;
    transition: 0.3s;
    
    
}
.root
{
    background-color:whitesmoke;
    color:black;
    font-family: sans-serif;
    margin-bottom: 100px;
    margin-top: 0px;
    text-decoration: none;
}
.root a
{
    font-size:2rem;
}
.root h
{
    font-size:3rem;
}


.stickyHeader a
{
    margin-right 0px;
    font-size: 350%;
    margin-left: 0px;
    top:5%; 
    color: black;
    
}
.stickyHeader
    {
    clear:both;
    background-color: #d9d9d9;
    overflow: visible;
    position: sticky;
    position:webkit-sticky;
    top:0%;
    background-clip: border-box;
    z-index: ;
    }
.stickyHeader p
{
    font-size: 330%;
    display: inline;
    margin-left 0px;
    padding: 0%;
    color: black;
}
#topNavLink
{
    margin-top: 75%;
}


